@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

                

body {
    background-color: white;
}

.description {
    position: static;
    text-align: left;
}

.descriptionH2 {
    font-family: 'pp-eiko-italic', sans-serif;
    font-size: 40px;
    color:#222F83;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-variant: all-small-caps;
}

.descriptionText {
    color: var(--Kuyod-o-Dk-Blue, #222F83);
font-family: Neue Haas Grotesk Display Pro;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 32px;
letter-spacing: 0.54px;

}

img[alt="JapaneseArcher"] {
    width: 100%;


}