@import url(https://db.onlinewebfonts.com/c/fee2b3445a637f0c55b004d81475a751?family=PP+Eiko+Italic);

.container {
position: relative;
text-align: center;
border: solid;
border-color: hotpink;
}

img[alt="Hero"] {
    width: 100%;


}
.h1 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 50px;
    left: 5px;
    color: white;
    font-family: Shorai Sans StdN;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-variant: all-small-caps;

}

.h2 {
    position: absolute;
    bottom: 30px;
    left: 1px;
    color: white;
    font-family: PP Eiko Italic;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-variant: all-small-caps;
}

.text {
    position: absolute;
    width: 90px;
    bottom: 90px;
    right: 7px;
    font-size: 15px;
    font-weight: 900;
    color: #222F83;
}

.button {
    position: absolute;
    bottom: 30px;
    right: 16px;
    width: 140px;
    height: 50px;
    background-color: #D9D9D9;
    color: #07156C;
}